*.ipynb_checkpoints
michael_implementation
*.out
__pycache__
.git
*.pkl
sherpa/parallel/output/diagnostic.data
sherpa/parallel/output/jobs
sherpa/parallel/output/journal
sherpa/parallel/output
sherpa/parallel/output/*
*.wt
*.lock
*.bson
WiredTiger*
outputs/ckpts/*
sherpa/study/outputs/*
