*.ipynb_checkpoints
michael_implementation
*.out
__pycache__
.git
sherpa/parallel/output/diagnostic.data
sherpa/parallel/output/jobs
sherpa/parallel/output/journal
sherpa/parallel/output
sherpa/parallel/output/*
*.wt
*.lock
*.bson
WiredTiger*
outputs/*
sherpa/study/pickles/*
sherpa/study/outputs/*
.nfs00000000006d148c00000001
